<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\property-peace-api.dll" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess"
      >
      <handlerSettings>
        <handlerSetting name="debugFile" value="\\?\%home%\LogFiles\aspnetcore-debug.log" />
        <handlerSetting name="debugLevel" value="FILE,TRACE" />
      </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>